 /* ------ 
    common and utilities 
                   ------*/    
                   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
                   @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
                   @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* -----
         nav styles start 
                    --------*/
 .menu-section{
   display: flex;
   background-color: blue;
}
.menubar-sizing{
    padding-top: 207px;
    padding-left: 150px;
    padding-bottom: 100px;
}
.big-heading{
    /* poppins 700  */
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 64px;
    color: white;
}
.button{
    width: 168px;
    height: 44px;
    text-decoration: none;
    background-color: #E02C6D;
    color: white;
/* poppins 500  */
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px 24px 10px 24px;
}
.transition-hover img{                
     width: 556.01px;
     height: 438px;
     padding-top: 153px;
     padding-left: 200px;
     padding-right: 100px;
     overflow: hidden;
}
.menu-section:hover img{
    transform: scale(1.1) rotate(15deg);
    transition: transform 3s ease-in-out;
}                  
/* ----- 
         nav styles end 
                   ------- */

/* ----- 
         players details start 
                        ------- */
.display-grid{
    padding-left: 180px;
    padding-right:210px;
    padding-top: 70px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 27px;
                        }
.player-details{
    width: 320px;
    height: 450px;
    background-color:white;
    box-shadow: 3px 3px 3px 3px grey;  
    filter: drop-shadow(20px 30px 30px grey);  

}
.player-details img{
    width: 300px;
    height: 256px;
}
.details{
    padding-left: 15px;
    padding-right: 20px;
    padding: 12px 17px 33px 11px;
}
.player-details h1{
    /* poppins 700 */
    font-family: 'Poppins', sans-serif;
    padding-top: 0px;
    padding-bottom: 0%;
    font-size: 26px;
}
.player-details h3{
    /* poppins 400  */
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* ----- 
         players details end 
                        ------- */

/*-------
         sports videos start
                 -------- */
.video-display{
     display: flex;
}
.video-edit{
     padding-top: 100px;
     padding-left: 180px;
     padding-right: 210px;
}
/*-------
         sports videos end
                       -------- */
/*-------
        form starts
                  -------- */
.form-style{
     padding-top: 80px;
     padding-left: 70px;
}
fieldset{
     background-color: darkseagreen;
     font-size: 18px;
     font-weight: 10px;
     color: black;
}
/*-------
      form ends
                -------- */
 /* ----- 
         footer details start 
                        ------- */
.footer-sizing{
    padding-top: 100px;
    padding-left: 470px;
    padding-bottom: 83px;
}
.footer-icon img{
    width: 475px;
    height: 110px;
}
.icons {
    padding-top: 20px;
    padding-left: 175px;
}  
.fab{
    width: 32px;
    height: 32px;
    padding-right: 10px;
}
.copyright h3{
    padding-top: 20px;
    padding-left: 145px;
} 
.fa-instagram-square{
    width: 32px;
    height: 32px;
}
/* ----- 
         footer details end 
                        ------- */
/*-------------- 
               Media Queries
                         ------------ */
/* mobile device */
@media only screen and (max-width:688px) {
    .menu-section{
        flex-direction: column;
    }
    .menubar-sizing{
        width: 100%;
        padding-top: 50px;
        padding-left: 8px;
    }
    .big-heading{
    font-size: 38px;
    }
    .transition-hover img{
        width: 300px;
        height: 255px;
        padding-top: 40px;
        padding-left: 18px;
        padding-bottom: 100px;
    }
.display-grid{
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0px;
}
.video-display{
    flex-direction: column;
}
.video-edit{
    width: 250px;
    height: 220px;
    padding-left: 35px;
}
.form-style{
    width: 300px;
    padding-left: 8px;
}
.footer-sizing{
    padding-left: 0px;
    align-content: center;
}
.footer-icon img{
    width: 300px;
    height: 80px;
    padding-left:0px ;
}
.icons{
    padding-left: 80px;
}
.copyright h3{
    /* poppins 400  */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 80px;
}
}
/* tablet device */
@media only screen and (min-width:688px) and (max-width: 992px) {
    .menu-section{ 
    flex-direction: column;
    }
    .menubar-sizing{
        width: 100%;
        padding-top: 50px;
        padding-left: 8px;
    }
    .big-heading{
    font-size: 64px;
    }
.display-grid{
    grid-template-columns: repeat(2, 1fr);
    padding-left: 37px;
}
.video-display{
    flex-wrap: nowrap;
    justify-content: space-between;
}
.video-edit{
    width: 250px;
    height: 220px;
    padding-left: 45px;
}
.form-style{
    width: 300px;
    padding-left: 0px;
    padding-right: 60px;
}
.footer-sizing{
    padding-left: 200px;
    align-content: center;
}
.footer-icon img{
    width: 300px;
    height: 80px;
    padding-left:0px ;
}
.icons{
    padding-left: 80px;
}
.copyright h3{
    /* poppins 400  */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 80px;
}
/* ----------
               media queries end
                              -----------  */